{% extends 'recipes/base.html' %}

{% block content %}

    <form method="POST" action="{% url 'tags-create' recipe.pk %}" class="my-form">
        {% csrf_token %}
        <h2 class="form-title">Create Recipe</h2>

    <div class="card my-4 d-flex" style="padding: 10px; justify-content: center">
            <div class="form-field">
                <h3 style="margin-bottom:20px" >Add some tags to your recipe! </h3>
                <div id="tag-container">
                    <label for="id_name" style="margin-right: 10px;">Tag: </label>
                    <input type="text" name="name" id="id_name">
                </div>
            </div>
        <input type="submit" style="background-color: #f1711b; border-color: #f1711b; margin-top:20px; width: min-content" value="Add tag" class="btn btn-primary">
    </div>
</form>


{% endblock %}

