{% extends 'recipes/base.html' %}

{% block content %}
  <h1>Recipes with tag: {{ tag_name }}</h1>

  {% if recipe_list %}

      {% for recipe in recipe_list %}
          <div  class="card my-4">
          <div>
                <h2>{{ recipe.title }}</h2>
                <p>{{ recipe.description }}</p>


          </div>
          <div>

          </div>
          </div>

      {% endfor %}

  {% else %}
    <p>Sorry! No recipes found with the specified tag. </p>
    <p>You could be the first to write one!</p>
  {% endif %}

  <a href="{% url 'recipes-home' %}">Back to Home</a>
{% endblock %}
