{% extends 'recipes/base.html' %}

{% block content %}
  <form method="post" action="{% url 'recipes-create' %}" class="my-form">
    {% csrf_token %}
    <h2 class="form-title">Create Recipe</h2>

    <div class="form-field">
      <label for="{{ form.title.id_for_label }}">Title:</label>
      {{ form.title }}
    </div>

    <div class="form-field">
      <label for="{{ form.category.id_for_label }}">Category:</label>
      {{ form.category }}
    </div>

    <div class="form-field">
      <label for="{{ form.description.id_for_label }}">Description:</label>
      {{ form.description }}
    </div>

    <div class="form-field">
      <label for="{{ form.ingredients.id_for_label }}">Ingredients:</label>
      {{ form.ingredients }}
    </div>

    <div class="form-field">
      <label for="{{ form.instructions.id_for_label }}">Instructions:</label>
      {{ form.instructions }}
    </div>

    <button type="submit" class="submit-button">Create Recipe</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
    $('.my-form').submit(function(event) {
      event.preventDefault();
      var ingredientsInput = $('#id_ingredients');
      var ingredientsList = ingredientsInput.val().split('\n');
      // Remove any empty lines from the list
      ingredientsList = ingredientsList.filter(function(ingredient) {
        return ingredient.trim() !== '';
      });
      // Set the input value as the JSON string representation of the list
      ingredientsInput.val(JSON.stringify(ingredientsList));
      // Submit the form
      this.submit();
    });
  });
  </script>
{% endblock %}
