{% extends 'recipes/base.html' %}

{% block content %}
  <form method="POST" action="{% url 'recipes-create' %}" class="my-form">
    {% csrf_token %}
    <h2 class="form-title">Create Recipe</h2>

    <div class="form-field">
      <label for="{{ form.title.id_for_label }}">Title:</label>
      {{ form.title }}
    </div>

    <div class="form-field">
      <label for="{{ form.author.id_for_label }}">Author:</label>
      {{ form.author }}
    </div>

    <div class="form-field">
      <label for="{{ form.category.id_for_label }}">Category:</label>
      {{ form.category }}
    </div>

    <div class="form-field">
      <label for="{{ form.description.id_for_label }}">Description:</label>
      {{ form.description }}
    </div>

     <div class="form-field">
         <label for="{{ form.ingredients.id_for_label }}">Ingredients:</label>

         <div id="ingredient-container">
              <div class="ingredient-field">
                 <div class="ingredient-input">
                    <label for="id_name">Ingredient:</label>
                    <input type="text" name="name" id="id_name">
                 </div>
                 <div class="ingredient-input">
                    <label for="id_quantity">Quantity:</label>
                    <input type="text" name="quantity" id="id_quantity">
                 </div>
                 <button type="button" class="remove-ingredient">Remove</button>
              </div>
              <button type="button" id="add-ingredient" class="add-ingredient">Add Ingredient</button>
         </div>
     </div>

    <div class="form-field">
      <label for="{{ form.instructions.id_for_label }}">Instructions:</label>
      {{ form.instructions }}
    </div>

    <button type="submit" class="btn btn-primary">Create Recipe</button>

    <div class="border-top pt-3">
      <a class="text-muted" href="{% url 'recipes-home' %}">Cancel</a>
    </div>

  </form>


  <script>
      document.addEventListener("DOMContentLoaded", function() {
      const ingredientContainer = document.getElementById("ingredient-container");
      const addIngredientBtn = document.getElementById("add-ingredient");

      function createIngredientField() {
        const ingredientField = document.createElement("div");
        ingredientField.classList.add("ingredient-field");

        const ingredientInput = document.createElement("div");
        ingredientInput.classList.add("ingredient-input");

        const ingredientLabel = document.createElement("label");
        ingredientLabel.setAttribute("for", "id_name");
        ingredientLabel.textContent = "Ingredient:";

        const ingredientInputField = document.createElement("input");
        ingredientInputField.setAttribute("type", "text");
        ingredientInputField.setAttribute("name", "name");
        ingredientInputField.setAttribute("id", "id_name");

        ingredientInput.appendChild(ingredientLabel);
        ingredientInput.appendChild(ingredientInputField);

        const quantityInput = document.createElement("div");
        quantityInput.classList.add("ingredient-input");

        const quantityLabel = document.createElement("label");
        quantityLabel.setAttribute("for", "id_quantity");
        quantityLabel.textContent = "Quantity:";

        const quantityInputField = document.createElement("input");
        quantityInputField.setAttribute("type", "text");
        quantityInputField.setAttribute("name", "quantity");
        quantityInputField.setAttribute("id", "id_quantity");

        quantityInput.appendChild(quantityLabel);
        quantityInput.appendChild(quantityInputField);

        const removeBtn = document.createElement("button");
        removeBtn.setAttribute("type", "button");
        removeBtn.classList.add("remove-ingredient");
        removeBtn.textContent = "Remove";
        removeBtn.addEventListener("click", function() {
          ingredientField.remove();
        });

        ingredientField.appendChild(ingredientInput);
        ingredientField.appendChild(quantityInput);
        ingredientField.appendChild(removeBtn);

        return ingredientField;
      }

      addIngredientBtn.addEventListener("click", function() {
        const ingredientField = createIngredientField();
        ingredientContainer.appendChild(ingredientField);
      });
    });

  </script>

{% endblock %}
