{% extends "recipes/base.html" %}

<!-- -->
{% block content %}
<h1>{{ object.title}}</h1>
<div class="card my-4">
  <div class="card-body">

    <h6 class="card-subtitle mb-2 text-muted">{{ recipe.author }}</h6>
    <p class="card-text">{{ recipe.category }}</p>
    <p class="card-text">
         <h3>Description:</h3>
         <p>{{ recipe.description }} </p>
    </p>
    <p class="card-text">
        <h3>Ingredients:</h3>
        {% for ingredient in ingredients %}
            <p>{{ ingredient }}</p>
        {% endfor %}
    </p>

    <p class="card-text">
        <h3>Instructions:</h3>
        {% for instruction in instructions %}
            <p>{{ instruction }}</p>
        {% endfor %}
        {% for instruction in recipe.instructions.all %}
            <p>{{ instruction }}</p>
        {% endfor %}
    </p>



    <h6 class="card-subtitle mb-2 text-muted">
      {{ recipe.updated_at|date:"F d, Y" }}
    </h6>
  </div>
</div>
{% if recipe.author == user or user.is_staff %}
<div class="col-4">
    <a class="btn btn-outline-info" href="{% url 'recipes-update' object.id %}">Update</a>
    <a class="btn btn-outline-danger" href="{% url 'recipes-delete' object.id %}">Delete</a>
</div>



{% endif %}
<!-- -->
{% endblock content %}

