{% extends "recipes/base.html" %}

<!-- -->
{% block content %}

<div class="col-md d-flex justify-content-between">
    <h1>{{ object.title}}</h1>
    <div>
        <a href="#" class="btn btn-outline-warning">Add to Favorites</a>
    </div>
</div>

<div class="card my-4">
  <div class="card-body">

    <h6 class="card-subtitle mb-2 text-muted">{{ recipe.author }}</h6>
    <p class="card-text">{{ recipe.category }}</p>
    <p class="card-text">
         <h3>Description:</h3>
         <p>{{ recipe.description }} </p>
    </p>

    <p class="card-text">
        <h3>Ingredients:</h3>

      {% for ingredient in ingredients %}
          <div style="display: flex; flex-direction: row">
              <p style="padding-right:20px">{{ ingredient.name }}</p>
              <p>{{ ingredient.quantity }}</p>
          </div>
      {% endfor %}
  
    </p>

    <p class="card-text">
      <h3>Instructions:</h3>
      <div style="display:flex; flex-direction: column">
          {% for instruction in instructions %}
              <div style="display: flex; flex-direction: row">
                  <p>{{ instruction.step }}</p>
              </div>
          {% endfor %}
      </div>
    </p>

    <p class="card-text">
        <h3>Tags:</h3>
        {% for tag in recipe.tags.all %}
            <p>{{ tag }}</p>
        {% endfor %}
    </p>



    <h6 class="card-subtitle mb-2 text-muted">
      {{ recipe.updated_at|date:"F d, Y" }}
    </h6>
  </div>
</div>
{% if recipe.author == user or user.is_staff %}
<div class="col-4">
    <a class="btn btn-outline-info" href="{% url 'recipes-update' object.id %}">Update</a>
    <a class="btn btn-outline-danger" href="{% url 'recipes-delete' object.id %}">Delete</a>
</div>



{% endif %}
<!-- -->
{% endblock content %}

